@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "Buttercup";
  src: url("/fonts/Buttercup.ttf");
}
@font-face {
  font-family: "Butterfly";
  src: url("/fonts/Butterfly.ttf");
}
@font-face {
  font-family: "Elegante";
  src: url("/fonts/Elegante.ttf");
}
@font-face {
  font-family: "Gathering Script";
  src: url("/fonts/Gathering Script.otf");
}
@font-face {
  font-family: "Love Hewits";
  src: url("/fonts/Love Hewits.ttf");
}
@font-face {
  font-family: "Madelina Bold";
  src: url("/fonts/Madelina Bold.ttf");
}
@font-face {
  font-family: "Madina Clean";
  src: url("/fonts/Madina Clean.otf");
}
@font-face {
  font-family: "Angista Script";
  src: url('/fonts/Angista Script.otf');
}
@font-face {
  font-family: "Baby Script";
  src: url('/fonts/Baby Script.ttf');
}
@font-face {
  font-family: "Georgina";
  src: url('/fonts/Georgina.ttf');
}
@font-face {
  font-family: "Hello Honey";
  src: url('/fonts/Hello Honey.otf');
}
@font-face {
  font-family: "Hugs and Kisses";
  src: url('/fonts/Hugs and Kisses xoxo.ttf');
}
@font-face {
  font-family: "Josephsophia";
  src: url('/fonts/Josephsophia.otf');
}
@font-face {
  font-family: "Madina Clean Alt";
  src: url('/fonts/Madina Clean Alt.otf');
}
@font-face {
  font-family: "Magnolia Sky";
  src: url('/fonts/Magnolia Sky.otf');
}
@font-face {
  font-family: "Valentina";
  src: url('/fonts/Valentina.ttf');
}